.idea
.vs
obj
bin
.DS_Store
*/logs/
*.*.DotSettings.user
*/Migrations/
Scratch/Labuladong/Array/leetcode/editor/en/doc/content/*.md
Scratch/Labuladong/List/leetcode/editor/en/doc/content/*.md
**/artifacts/
