<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <TargetFramework>net10.0</TargetFramework>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <!--        <PublishAot>true</PublishAot>-->
        <!--        <SelfContained>true</SelfContained>-->
        <!--        <PublishSingleFile>true</PublishSingleFile>-->
        <!--        <PublishTrimmed>false</PublishTrimmed>-->
    </PropertyGroup>
    <!-- publish cmd:
    dotnet publish Todo.WebApi/Todo.WebApi.csproj \
      -c Release -o ./artifacts/api \
      -p:PublishProfile=docker \
      -p:SelfContained=false \
      -p:PublishSingleFile=true \
      -p:DebugType=None \
      -p:DebugSymbols=false
    -->
</Project>
